.header {
  margin-top: 90px;
  .services-container {
    display: inline;
    position: relative;
    .services-content {
      background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
      position: absolute;
      top: 40px;
      left: 0px;
      display: none;
      .services-router {
         width: 1100px;
         display: flex;
         justify-content: center;
         padding: 20px;
        a {
          display: block;
          text-decoration: none;
        }
        div {
           margin-right: 50px;
        }
      }
    }
    &:hover .services-content {
      display: block;
    }
  }
}
