.header {
  margin-top: 90px;
  .services-container {
    display: inline;
    position: relative;
    .services-content {
      background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
      position: absolute;
      top: 40px;
      right: 0px;
      display: none;
      a {
        display: block;
      }
    }
    &:hover .services-content {
      display: block;
    }
  }
}
