#press {
  background-color: #071d37;
  padding-top: 50px;
  .heading {
    a {
      text-decoration: none;
      border-bottom: 1px dotted #fff;
      color: #ffc107;
    }
  }
  h2 {
    color: white;
    margin-top: 50px;
  }
}
