#press {
  background-color: #071d37;
  padding: 50px 0;
  .heading {
    a {
      text-decoration: none;
      border-bottom: 1px dotted #fe5f00;
      color: #fe5f00;
    }
  }
  h2 {
    color: white;
    margin-top: 50px;
  }
}
