@import "../includes/imports";

#how-it-works-hero {
   margin: 50px 0;
}

#how-ukessays-works {
margin: 50px 0;
}

#build-drive {
   margin: 50px 0;
}

#customer-review {
   background-color: #f8f9fa;
   padding: 50px 0;
}

#guarantees {
   padding: 50px 0;
   background-color: #ffdecb;
}

#why-choose {
   margin: 50px 0;
}

#popular-question {
   margin: 50px 0;
}

#place-order {
   background-color: #ca4a00;
}