@import "../includes/imports";

#hero {
  background-image: url("../../../public/assets/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#services {
}

#examples {
  background-color: #f8f9fa;
}

#policy {
}

#why-we-are {
}

#order-now {
  background-color: #ca4a00;
}
