@import "../includes/imports";

#hero {
  background-image: url("../../../public/assets/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .box {
    height: 250px;
    margin-bottom: 20px;
    a {
      color: #ffbb00;
      text-decoration: none;
      border-bottom: 1px dotted #ffbb00;
    }
    &:hover {
      border: 3px solid #ffbb00;
    }
  }
}

#examples {
  background-color: #f8f9fa;
  border: 1px solid gray;
  .sub-area {
    max-width: 1100px;
    margin: 0 auto;
    a {
      text-decoration: none;
    }
  }
}

#why-we-are {
  .heading {
    span {
      color: #ca4a00;
    }
  }
}



