@import "../includes/imports";

#top-section {
   margin-top: 140px;
  background-color: #071d37;
  padding: 50px 0;
}

#signup-subscribe {
  background-color: #f8f9fa;
  padding: 20px 0;
  input {
     margin-left: 10px;
    height: 40px;
    &:focus {
      outline: none;
    }
  }
  .offers-accordion {
    max-width: 900px;
    margin: 0 auto;
  }
}

#current-offers {
   @media screen and (max-width: 768px) {
      img {
         display: none;
      }
   }
}

#expired-offers {
   .text-box {
      background-color: #f8f9fa;
      margin: 10px 0;
      padding: 20px;
      border: 1px solid rgb(202, 202, 202);
   }
}