#service-hero {
   margin-top: 140px;
   padding-top: 50px;
   padding-bottom: 10px;
   background-color: #071d37;
   .price {
     font-size: 80px;
     font-weight: 300;
     .price-icon {
       margin-right: -30px;
       font-weight: 300;
       font-size: 70px;
     }
   }
   .essay-reviewsio {
     .essay-reviewsio-logo {
       width: 200px;
     }
   }
 }