#academic-service-hero {
  margin-top: 140px;
  padding: 50px 0;
  background-color: #071d37;
  .price {
    font-size: 80px;
    font-weight: 300;
  }
}

#what-you-get {
  margin: 50px 0;
}

#service-correctly {
  padding: 50px 0;
  background-color: #f8f9fa;
}
