#assignment-service-hero {
  margin-top: 140px;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #071d37;
  .price {
    font-size: 80px;
    font-weight: 300;
    .price-icon {
      margin-right: -10px;
      font-weight: 300;
      font-size: 70px;
    }
  }
  .assignment-reviewsio {
    .assignment-reviewsio-logo {
      width: 200px;
    }
  }
}

#assignment-difference {
  background-color: black;
  padding: 40px 0;
  .text-box {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#assignment-why-choose {
  margin: 50px 0;
  a {
    text-decoration: none;
    border-bottom: 1px dotted;
  }
}

#assignment-phone-order {
  background-color: #f1f1f1;
  padding: 50px 0;
  .text-box {
    margin-top: 30px;
    display: flex;
    a {
      text-decoration: none;
      color: orangered;
      border-bottom: 1px dotted;
    }
    .first-option {
      margin-right: 20px;
      p {
        font-size: 20px;
        font-weight: 600;
        color: orangered;
        border: 1px solid orangered;
        border-radius: 100%;
        padding: 10px 20px;
      }
    }
    .second-option {
      margin-right: 20px;
      p {
        font-size: 20px;
        font-weight: 600;
        color: rgb(0, 89, 255);
        border: 1px solid rgb(0, 89, 255);
        border-radius: 100%;
        padding: 10px 20px;
      }
    }
    .third-option {
      margin-right: 20px;
      p {
        font-size: 20px;
        font-weight: 600;
        color: rgb(0, 175, 9);
        border: 1px solid rgb(0, 175, 9);
        border-radius: 100%;
        padding: 10px 20px;
      }
    }
  }
}

#how-to-use {
  margin: 50px 0;
}

#assignment-today {
  background-color: #ca4a00;
  padding: 100px 0;
}

#related-service {
  margin: 50px 0;
}
