#assignment-service-hero {
  margin-top: 140px;
  padding: 50px 0;
  background-color: #071d37;
  .price {
    font-size: 80px;
    font-weight: 300;
    .price-icon {
      margin-right: -10px;
      font-weight: 300;
      font-size: 70px;
    }
  }
  .assignment-reviewsio {
    .assignment-reviewsio-logo {
      width: 200px;
    }
  }
} 

#difference2 {
  background-color: black;
  padding: 40px 0;
  .text-box {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#phone-order2 {
  background-color: #f1f1f1;
}

#how-to-use {
  margin: 50px 0;
}

#assignment-today {
  background-color: #ca4a00;
  padding: 100px 0;
}

#related-service {
  margin: 50px 0;
}
