#coursework-service-hero {
  margin-top: 140px;
  padding: 50px 0;
  background-color: #071d37;
  .price {
    font-size: 80px;
    font-weight: 300;
  }
}

#coursework-phoneorder {
   background-color: #dee2e6;
}

#how-to-use {
  margin: 50px 0;
}

#coursework-why-love {
  padding: 50px 0;
  background-color: #dee2e6;
}

#coursework-askedquestion {
   background-color: #dee2e6;
}