#coursework-phone-order {
  background-color: #dee2e6;
  padding: 50px 0;
  .text-box {
    margin-top: 30px;
    display: flex;
    a {
      text-decoration: none;
      color: orangered;
      border-bottom: 1px dotted;
    }
    .first-option {
      margin-right: 20px;
      p {
        font-size: 20px;
        font-weight: 600;
        color: orangered;
        border: 1px solid orangered;
        border-radius: 100%;
        padding: 10px 20px;
      }
    }
    .second-option {
      margin-right: 20px;
      p {
        font-size: 20px;
        font-weight: 600;
        color: rgb(0, 89, 255);
        border: 1px solid rgb(0, 89, 255);
        border-radius: 100%;
        padding: 10px 20px;
      }
    }
    .third-option {
      margin-right: 20px;
      p {
        font-size: 20px;
        font-weight: 600;
        color: rgb(0, 175, 9);
        border: 1px solid rgb(0, 175, 9);
        border-radius: 100%;
        padding: 10px 20px;
      }
    }
  }
}

#how-to-use {
  margin: 50px 0;
}

#coursework-why-love {
  padding: 50px 0;
  background-color: #dee2e6;
  a {
    text-decoration: none;
    color: #ca4a00;
    border-bottom: 1px dotted;
  }
}

#coursework-askedquestion {
  background-color: #dee2e6;
}
