#effective-editing {
  margin: 50px 0; 
}

#editing-process {
  background-color: #f8f9fa;
  padding-top: 50px;
  .editing-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .editing-text {
      max-width: 600px;
      margin: 0 auto;
    }
    @media screen and (max-width: 768px) {
      .editing-img {
        display: none;
      }
    }
  }
}

#editing-did-you-know {
  margin: 50px 0;
}

#take-our-word {
  padding: 50px 0;
  background-color: #f8f9fa;
}

#frequently-asked-question {
  margin: 50px 0;
  a {
    text-decoration: none;
    border-bottom: 1px dotted;
  }
}

#qualified-editors {
  background-color: red;
  padding: 100px 0;
}
