#editing-service-hero {
  margin-top: 140px;
  padding: 50px 0;
  background-color: #071d37;
  .price {
    font-size: 80px;
    font-weight: 300;
  }
}

#effective-editing {
  margin: 50px 0;
}

#editing-process {
  margin: 50px 0;
  .editing-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .editing-text {
      max-width: 600px;
      margin: 0 auto;
    }
    @media screen and (max-width: 768px) {
      .editing-img {
        display: none;
      }
    }
  }
}

#take-our-word {
  padding: 50px 0;
  background-color: #f8f9fa;
}

#frequently-asked-question {
margin: 50px 0;
}

#qualified-editors {
   background-color: red;
   padding: 100px 0;
}