#essay-service-hero {
  margin-top: 140px;
  padding: 50px 0;
  background-color: #071d37;
  .price {
    font-size: 80px;
    font-weight: 300;
  }
}

#difference {
  margin: 50px 0;
  color: white;
  background-color: black;
  padding: 40px 0;
  .text-box {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

#why-love {
  margin: 50px 0;
}

#related-service {
  margin: 50px 0;
}
