#reflective-service-hero {
  margin-top: 140px;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #071d37;
  .price {
    font-size: 80px;
    font-weight: 300;
    .price-icon {
      margin-right: -30px;
      font-weight: 300;
      font-size: 70px;
    }
  }
  .reflective-reviewsio {
    .reflective-reviewsio-logo {
      width: 200px;
    }
  }
}

#reflective-why-choose {
  margin: 50px 0;
  a {
    text-decoration: none;
    border-bottom: 1px dotted;
  }
}

#reflective-essay-today {
  background-color: #ca4a00;
  padding: 100px 0;
}

#reflective-phone-order {
  padding: 50px 0;
  .text-box {
    margin-top: 30px;
    display: flex;
    a {
      text-decoration: none;
      color: orangered;
      border-bottom: 1px dotted;
    }
    .first-option {
      margin-right: 20px;
      p {
        font-size: 20px;
        font-weight: 600;
        color: orangered;
        border: 1px solid orangered;
        border-radius: 100%;
        padding: 10px 20px;
      }
    }
    .second-option {
      margin-right: 20px;
      p {
        font-size: 20px;
        font-weight: 600;
        color: rgb(0, 89, 255);
        border: 1px solid rgb(0, 89, 255);
        border-radius: 100%;
        padding: 10px 20px;
      }
    }
    .third-option {
      margin-right: 20px;
      p {
        font-size: 20px;
        font-weight: 600;
        color: rgb(0, 175, 9);
        border: 1px solid rgb(0, 175, 9);
        border-radius: 100%;
        padding: 10px 20px;
      }
    }
  }
}

#how-service-work {
  margin: 50px 0;
}

#frequently-questions {
  margin: 50px 0;
  a {
    text-decoration: none;
    border-bottom: 1px dotted;
  }
}
