#reflective-service-hero {
  margin-top: 140px;
  padding: 50px 0;
  background-color: #071d37;
  .price {
    font-size: 80px;
    font-weight: 300;
  }
}

#reflective-essay-today {
  background-color: #ca4a00;
}

#include-your-order {
  margin: 50px 0;
}

#frequently-questions {
  margin: 50px 0;
}
