#who-uk-essay {
  margin-top: 200px;
  margin-bottom: 50px;
}

#how-started {
  padding: 50px 0;
  background-color: #071d37;
}

#customers-count {
  padding: 50px 0;
  background-color: #f8f9fa;
}

#history {
  background-color: #f8f9fa;
  .vertical-line {
    border-left: px solid gray;
  }
}
