#trusted-students {
  margin-top: 130px;
  padding: 50px 0;
  background-color: #071d37;
}

#our-guarantees {
  margin: 50px 0;
}

#our-promises {
   margin: 50px 0;
}

#steps {
   margin: 50px 0;
}

#have-a-question {
   margin: 50px 0;
   a {
      text-decoration: none;
      border-bottom: 1px dotted;
   }
}

#now-started {
   padding: 100px 0;
   background-color: #ca4a00;
}