#our-area {
  margin-top: 130px;
  padding: 50px 0;
  background-color: #071d37;
}

#subject-area {
margin: 50px 0;
}

#how-expert {
   padding: 100px 0;
   background-color: #f8f9fa;
   border-top: 1px solid rgb(204, 204, 204);
}