#quality-top {
  margin-top: 130px;
  padding: 50px 0;
  background-color: #071d37;
}

#get-things {
  margin: 50px 0;
  a {
    text-decoration: none;
    border-bottom: 1px dotted;
  }
}

#transparency {
  margin: 50px 0;
  .transparency-content {
    padding: 20px;
    background-color: #d1ecf1;
    color: #0c5460;
    border-radius: 10px;
    a {
      text-decoration: none;
      border-bottom: 1px dotted;
    }
  }
}

#researcher-recruitment {
  margin: 50px 0;
  .number {
    p {
      color: navy;
      font-size: 5em;
    }
  }
}

#quality-control {
  padding: 50px 0;
  background-color: #f8f9fa;
}
